
<header><h2>Movie List:DB</h2></header>

<div class="banner shadow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://miro.medium.com/v2/resize:fit:3840/1*chnnCiC2ozMfPpuXNoIjjw.jpeg);">
  <div class="container">
    <h1>Movie List:DB brings <strong>a full movie database</strong> to <strong>everyone</strong>!</h1>
    <p>Change your life and watch Madame Web.</p>
    <a class="btn btn-primary" href="#">Click Here to Watch a trailer</a>
  </div>
</div>

<div class="container py-5">
<div class="d-flex align-items-center justify-content-between mb-3">
<h3 class="mb-0">Choose your list:</h3>
   <%= link_to new_list_path(@list) do %>
       <button class="btn btn-primary">Create a new list</button>
  <% end %>
</div>
<div class="row">
<% @lists.each do |list|%>
<div class="co-12 col-sm-6 col-md-4 mb-3">
<%= link_to list_path(list), class:"text-decoration-none" do %>
<div class="card-category" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://lumiere-a.akamaihd.net/v1/images/au_disneynews_pixar_cars2_lightningmaterfinn_incarticle_bbfc75ef.jpeg?region=0,38,1152,647&width=960)">
  <%= list.name %>
</div>
<% end %>
</div>
<% end %>
</div>
</div>
