 <h1>About <%= @list.name %></h1>
 <br>
<% @movies.each do |movie| %>
  <p><%= movie.title %></p>
<% end %>
 <br>
 <br>
 <br>
 <%= link_to lists_path do %>
    <button class="btn btn-primary"> Back to list</button>
  <% end %>
